{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <h1>Hers's a list of tasks</h1>

    {% if tasks is not empty %}

        <table border="1">
            <thead>
            <tr>
                <th>name</th>
                <th>status</th>
                <th>Change status</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td><a href="{{ path('edit_task',{'id':task.id}) }}">
                            {{ task.name }}
                        </a>
                    </td>
                    <td>Status {% if task.status == true %} DONE{% else %} UNDONE{% endif %}</td>
                    <td><a href="{{ path('modify_status_task',{'id':task.id,'from':'task'}) }}">
                            Change
                        </a></td>
                    <td><a href="{{ path('delete_task',{'id':task.id}) }}">
                            delete
                        </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h2>There's no tasks</h2>
    {% endif %}

    {{ form(add_task_form) }}
{% endblock %}
