{% extends 'base.html.twig' %}

{% block title %} {{ user.name }}{% endblock %}

{% block body %}
    <h1>This user name : {{ user.name }}</h1>
    <ul>
        <li>lastname : {{ user.lastname }}</li>
        <li>email : {{ user.email }}</li>
        <li>creation date : {{ user.creationdate|date('Y-m-d') }}</li>
    </ul>

    <h2>tasks</h2>
    {% if user.tasks is not empty %}
        {% for task in user.tasks %}
            <p>assigned {{ task.name }} | for : {{ task.deadline|date('Y-m-d') }} | status{% if task.status == true %} DONE{% else %} UNDONE{% endif %};</p>
            <a href="{{ path('modify_status_task',{'id':task.id,'from':'user','user':user.id}) }}">Change status</a>
            <a href="{{ path('delete_task',{'id':task.id}) }}">
                delete
            </a>
            <hr/>
        {% endfor %}
    {% else %}
        <p>There's no task assigned to {{ user.name }}</p>
    {% endif %}
    <h2>Modify {{ user.name }} infos :</h2>



    {{ form(form_user_edit) }}
{% endblock %}